body {
    height: 100vh;
    padding-top: 90px;
}

.burger-menu {
    position: fixed;
    top:0;
    width:100%;
    height: 90px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
}

.burger-menu img:not(.logo) {
    width: 40px;
}

.logo a{
    width:60px;
    height:60px;
    padding: 0;
    margin:0;
}

.links-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.burger-menu a {
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.5s;
}

.burger-menu a:not(.active) {
    color: white;
}

.burger-menu a:active {
    color: rgb(100, 93, 129);
    background-color: white;
}

#sidebar-active,
.open-sidebar-button,
.close-sidebar-button {
    display: none;
}

@media(min-width:800px) {
    .burger-menu {
        display: none;
    }
}

@media(max-width:801px) {
    nav {
        display: none;
    }

    .links-container {
        flex-direction: column;
        align-items: flex-start;

        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;
        background-color: rgb(58, 53, 77);
        box-shadow: -5px 0 5px rgba(24, 7, 56, 0.25);
        transition: 0.5s ease-out;
    }

    .burger-menu a {
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px;
        margin: 20px 10px;
        justify-content: flex-start;
    }

    .open-sidebar-button,
    .close-sidebar-button {
        display: block;
        padding: 20px;
    }

    #sidebar-active:checked ~.links-container {
        right: 0;
    }

    #sidebar-active:checked ~#overlay{
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }
}