body {
    font-family: quicksand, Helvetica, sans-serif;
    margin: 0;
    background: #fdfaff;
}

h1,
h2,
h3,
h4 {
    font-family: shrikhand, Helvetica, sans-serif;
    margin: 0;
    font-weight: lighter;
}

h1 {
    font-size: 50pt;
}

h3 {
    font-size: 20pt;
}

p,
a {
    font-size: 14pt;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    background-color: #494949;
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 0.2rem 3rem;
}

.logo {
    height: 80px;
    width: auto;
}

li {
    list-style: none;
    display: inline-flex;
}

nav li a {
    color: white;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 2rem;
    padding: 0.5rem 0.8rem;
    transition: 0.5s;
}

nav li a:hover {
    color: rgb(100, 93, 129);
    background-color: white;
    border-radius: 5px;
}

.active {
    background-color: white;
    color: rgb(100, 93, 129);
    border-radius: 5px;
}

.home-header {
    padding: 3rem 18rem;
    background-color: rgb(100, 93, 129);
    color: white;
    display: flex;
    align-items: center;
    column-gap: 50px;
}

.home-header p{
    padding:0;
    margin:0;
}

.mask {
    mask-image: url(bilder/mask.svg);
    mask-repeat: no-repeat;
    width: 30%;
    height: auto;
    background-color: #fdfaff;
}

.ueber-mich-button {
    background-color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    transition: 0.5s;
    margin-top:20px;
}

.ueber-mich-button:hover {
    color: white;
    border: solid white 2px;
    background-color: rgb(100, 93, 129);

}

.quote {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color: rgb(100, 93, 129);
    text-align: center;
    margin: 20px;
}

.quote p {
    padding-top: 20px;
    margin: 0;
}

.kacheln-container {
    background-color: rgb(100, 93, 129);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.kachel {
    color: white;
    text-decoration: none;
    padding: 10rem 5rem;
    flex: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-blend-mode: multiply;

}

#ueber-mich.kachel {
    background-image: url(bilder/uebermich-kachel.jpg);
}

#projekte.kachel {
    background-image: url(bilder/projekte-kachel.jpg);
}

#kontakt.kachel {
    background-image: url(bilder/kontakt-kachel.jpg);
}

.kachel h3 {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

footer {
    background-color: #494949;
    padding: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    row-gap: 30px;
    color: white;
}

.impressum-datenschutz a {
    padding: 20px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer p {
    margin: 0;
}

.instagram-mit-icon {
    font-weight: bold;
}

.instagram-mit-icon img {
    vertical-align: text-bottom;
}