body {
    font-family: quicksand, Helvetica, sans-serif;
    margin: 0;
    background: #f3fffd;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    background-color: #494949;
    position: sticky;
    padding: 0.2rem 3rem;
}

.logo {
    height: 80px;
    width: auto;
}

li {
    list-style: none;
    display: inline-flex;
}

nav li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin-right: 2rem;
    padding: 0.5rem;
    transition: 0.5s;
}

nav li a:hover {
    color: rgb(215, 210, 238);
    ;
    background-color: white;
    border-radius: 5px;
}

.home-header {
    padding: 20px;
    background-color: rgb(100, 93, 129);
    color: white;
    display: flex;
    align-items: center;
    column-gap: 50px;
}

p{
    padding-bottom: 10px;
}

.mask {
    mask-image: url(bilder/mask.svg);
    mask-repeat: no-repeat;
    width: 30%;
    height: auto;
    background-color: beige;
}

.button {
    background-color: white;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.button:hover {
    color: white;
    border: solid white 2px;
    background-color: rgb(100, 93, 129);

}

main {

    padding: 20px;
}


/* 
.active {
    background-color: darkolivegreen;
    color: white;
}

.kachel {
    background-image: url("bilder/projekt-1.jpg");
    width: 300px;
    height: 200px;
    float: left;
    margin-right: 2%;
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

a h3 {
    color: white;
}
*/