<nav class="menu-leiste">
    <a href="index.html"><img class="logo" src="bilder/logo.png" width="50" alt="Saskia Friedrich Logo"></a>

    <ul class="navigation-bar">
        <li><a href="index.html" class="active" aria-current="page">Start</a></li>
        <li><a href="ueber-mich.html">Über mich</a></li>
        <li><a href="projekte.html">Projekte</a></li>
        <li><a href="kontakt.html">Kontakt</a></li>
    </ul>
</nav>

<nav class="burger-menu">
    <a href="index.html"><img class="logo" src="bilder/logo.png" alt="Saskia Friedrich Logo"></a>
    <input aria-label="öffne/schließe Menü" aria-labelledby="öffne/schließe Menü" type="checkbox" id="sidebar-active">
    <label for="sidebar-active" class="open-sidebar-button">
        <img src="bilder/burger.svg" alt="Burgermenü Icon">
    </label>

    <label id="overlay" for="sidebar-active"> </label>


    <section class="links-container">
        <label for="sidebar-active" class="close-sidebar-button">
            <img src="bilder/close.svg" alt="Burgermenü Icon">
        </label>
        <a href="index.html" class="active" aria-current="page">Start</a>
        <a href="ueber-mich.html">Über mich</a>
        <a href="projekte.html">Projekte</a>
        <a href="kontakt.html">Kontakt</a>

    </section>
</nav>